services:
  - type: web
    name: medical-assistant-api
    runtime: docker
    dockerfilePath: ./backend/Dockerfile
    dockerContext: ./backend
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: DATABASE_USERNAME
        sync: false
      - key: DATABASE_PASSWORD
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: CORS_ORIGIN
        sync: false
